@import url(./styles/modal.css);

body {
  font-family: sans-serif;
}

pre,
h3,
body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#loginForm,
#registerForm {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  padding: 1.25rem;

  fieldset {
    display: contents;
  }

  legend {
    justify-self: center;
  }
}

#todoFormFieldset {
  display: grid;
  grid-template-columns: 1.3fr 0.5fr 0.1fr;
  gap: 10px;
  #newTodoTitle {
    grid-row: 1;
  }

  #newTodoDesc {
    grid-row: 2;
  }

  #newTodoDueDate {
    grid-column: 2;
    grid-row: 1;
  }

  .priorityWrap {
    grid-column: 2;
    grid-row: 2;
  }

  #submitTodoBtn {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  #modifyBtnContainer {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
  }
}
